$positions: (
    "fix": "fixed",
    "abs": "absolute",
    "rel": "relative"
);
@each $name, $prop in $positions {
    %p-#{$name} {
        position: unquote($prop) !important;
    }
}

@each $bp in $media_min_query_all {
    @include media_min_query($bp) {
        @each $name, $prop in $positions {
            %#{$bp}-p-#{$name} {
                position: unquote($prop) !important;
            }
        }
    }
}
